body {
    font-family: Arial, sans-serif;
    background-color: #f2e6d4; /* Couleur de fond beige */
    margin: 0;
    padding: 0;
}

header {
    background-color: #8b4513; /* Couleur de fond marron */
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: #deb887; /* Couleur de fond brun clair */
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #8b4513; /* Couleur du texte marron */
}

footer {
    background-color: #8b4513; /* Couleur de fond marron */
    color: white;
    text-align: center;
    padding: 10px;
}
