body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
 .PremierePage {
    background-image: url(Media/bg.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
 }

 .contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
 }

 .formulaire {
    margin-bottom: 60px;
 }