/* Styles spécifiques à la page Mon Compte */

/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2dbdb;
}

.main-nav.fixed-nav {
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8b4513; /* Couleur de fond de la barre de navigation */
    z-index: 1000; /* Pour s'assurer que la barre de navigation apparaît au-dessus du contenu défilant */
}

.main-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav nav ul li a {
    color: white;
    text-decoration: none;
}

.main-nav nav ul li a:hover {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    color:#a55318;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 20px;
}

footer {
    background-color: #8b4513;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    margin-left: 260px;
}

/* Barre de navigation latérale */
.sidebar {
    margin-top: 130px;
    width: 220px;
    background-color: #a55318;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Contenu principal */
.content {
    margin-left: 270px; /* Pour laisser de l'espace pour la barre de navigation latérale */
    padding: 20px;
}

.content h1 {
    margin-bottom: 20px;
}

/* Formulaires */
form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.champ {
    width: calc(50% - 30px); /* 25% pour chaque colonne avec un espace de 10px entre les vidéos */
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* For screens smaller than 600px (mobile) */
@media (max-width: 600px) {
    /* CSS rules for mobile layout */
}

/* For screens between 600px and 1024px (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    /* CSS rules for tablet layout */
}

/* For screens larger than 1024px (desktop) */
@media (min-width: 1025px) {
    /* CSS rules for desktop layout */
}


