.navBar {
    position: fixed;
    top: 0;
    left: -80px; /* Cachée initialement */
    width: 80px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s; /* Animation de défilement */
}


.icon.active {
    /* Style pour l'icône de la section active */
}

/* Styles pour le mode nuit */
body.night-mode {
    /* Styles pour le mode nuit */
}
